// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#letter {
  display: inline-block;
  width: 35px;
  text-align: center;
  padding: 10px 15px;
  margin: 15px;
  font-size: 34px;
  background-color: #3998DC;
  color: white;
  border: 1px solid #2E80B9;
}
